<a href="https://colab.research.google.com/github/AbiSyaibah/Data-Science/blob/main/3_Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#Pandas utility functions

Menentukan apakah suatu variabel adalah bukan nilai

In [ ]:
print(pd.isnull(np.nan)) #isnul (menentukan apakah nilai tersebut bukan nilai atau nilai)
print(pd.isna(np.nan)) #isna sama fungsinya kyk isnul
print(pd.isna(1)) #isna 1 bernilai false

True
True
False

Menentukan apakah suatu variabel adalah nilai

In [ ]:
print(pd.notnull(None))
print(pd.notnull(np.nan))
print(pd.notnul(3))

False
False

AttributeError: ignored

In [ ]:
pd.isna(pd.Series ([1, np.nan,7]))

In [ ]:
#Isna pada DataFrame
pd.isna(pd.DataFrame({
                      'Column A': [1,np.nan,7], 
                      'Column B':[np.nan,2,3],
                      'Column C':[np.nan,2,np.nan]}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

In [ ]:
#notnul is opposite to isnul/ isna
pd.notnull(pd.DataFrame({
                      'Column A': [1,np.nan,7], 
                      'Column B':[np.nan,2,3],
                      'Column C':[np.nan,2,np.nan]}))

   Column A  Column B  Column C
0      True     False     False
1     False      True      True
2      True      True     False

Saat menggunakan notnul atau isna biasanya kita menggunakan operator sum untuk mengetahui berapa banyak data yang salah, semua proses di bawah adalah immutable

In [ ]:
s=pd.Series([1,2,3,np.nan,np.nan,4])

In [ ]:
#menampilkan anggota s yang bukan kesalahan
s[pd.notnull(s)] #berikan saya data yang bukan null

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [ ]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [ ]:
#yang dihitung pada count yaitu banyak data
pd.notnull(s).count() #artinya jumlah data ada 6

6

In [ ]:
#yang dijumlahkan adalah true(1) atau false(0)
pd.notnull(s).sum() #artinya jumlah data yang benar ada 4

4

In [ ]:
pd.isna(s).sum()#artinya jumlah data yang salah ada 4

2

#Dropping null values in DataFrames

In [ ]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Column A  2 non-null      float64
 1   Column B  3 non-null      float64
 2   Column C  3 non-null      float64
 3   Column D  4 non-null      int64
dtypes: float64(3), int64(1)
memory usage: 256.0 bytes

In [ ]:
df.isnull()

   Column A  Column B  Column C  Column D
0     False     False      True     False
1      True     False     False     False
2     False     False     False     False
3      True      True     False     False

In [ ]:
df.isnull().sum()

Column A    2
Column B    1
Column C    1
Column D    0
dtype: int64

In [ ]:
#Menjaruhkan/ men-drop baris yang memiliki minimal 1 null value
df.dropna()

   Column A  Column B  Column C  Column D
2      30.0      31.0      32.0        34

In [ ]:
#bisa juga diterapkan pada kolom dengan mengubah axis nya
df.dropna(axis=1)

   Column D
0         5
1         8
2        34
3       110

In [ ]:
#bisa juga memilih berapa niali valid value yang kita inginkan
df.dropna(thresh=3,axis='columns') #tresh=bnyak valid value
#or
df.dropna(thresh=3,axis='rows')

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34

#Filling null values

In [ ]:
s #Series s diatas

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    4.0
dtype: float64

kita ingin mengisi nilai null, tapi metode di bawah tidak mengubah series s, immutable

In [ ]:
#mengisi nilai null dg vlue 0 
s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
4    0.0
5    4.0
dtype: float64

In [ ]:
#mengisi dengan nilai rata2
s.fillna(s.mean())

0    1.0
1    2.0
2    3.0
3    2.5
4    2.5
5    4.0
dtype: float64

**Filling nulls with contiguous (close) values**

The method argument is used to fill null values with other values close to that null one:

In [ ]:
#mengisi dengan nilai terdekatnya (forward, dari depan)
s.fillna(method='ffill')

0    1.0
1    2.0
2    3.0
3    3.0
4    3.0
5    4.0
dtype: float64

In [ ]:
#mengisi dengan nilai terdekatnya (backward, dari belakang)
s.fillna(method='bfill')f.dropna(thresh=3,axis='columns')
#or

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
5    4.0
dtype: float64

These methode also work for dataframe

In [ ]:
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0      32.0        34
3       NaN       NaN     100.0       110

In [ ]:
df.fillna({'Column A': 0,'Column B':0,'Column C':df['Column C'].mean(),'Column D':df['Column D'].mean()})

   Column A  Column B  Column C  Column D
0       1.0       2.0      47.0         5
1       0.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3       0.0       0.0     100.0       110

In [ ]:
df.fillna(method='ffill',axis=0) #axis 0 = yang diisi adalah kolom

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       1.0       8.0       9.0         8
2      30.0      31.0      32.0        34
3      30.0      31.0     100.0       110

In [ ]:
df.fillna(method='ffill',axis=1) #axis 1 = yang diisi adalah baris

#Hands On

In [ ]:
df= pd.DataFrame({'sex':['M','F','F','D','?'],
                  'age': [29,30,24,290,25]})
df

  sex  age
0   M   29
1   F   30
2   F   24
3   D  290
4   ?   25

Finfing Unique Values

In [ ]:
df ['sex'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [ ]:
df['sex'].value_counts()

F    2
M    1
D    1
?    1
Name: sex, dtype: int64

Fixing (Replacing those value)

In [ ]:
df['sex'].replace({'D','?'},'M') #df['sex'].replace({'Data salah','Data salah'},'Data Fixing')

0    M
1    F
2    F
3    M
4    M
Name: sex, dtype: object

In [ ]:
df.replace({'sex':{'D':'M','?':'F'}, 'age':{290:90}})

  sex  age
0   M   29
1   F   30
2   F   24
3   M   90
4   F   25

In [ ]:
df['sex'].replace({'D':'M','?':'F'},Age)